---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

 li {
    display: inline;
    list-style: none;  
 }
.page-heading {
    display: inline;
    color: #FF0000;
    font-style: italic;
 }
.desc {
    font-style: bold;
    font-size: 42px;
    border: 1px groove #FF0000;
}  
