---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

 li {
   display: inline;
   list-style: none;  
   float: right;
   padding-left: 300px;
   margin-bottom: 30px;
 }
.page-heading {
   display: inline;
   color: #FFFD;
   font-style: italic;
 }
.desc {
   font-style: bold;
   font-size: 30px;
   border: 1px groove #FFF;
   padding-left: 30px;
   background-color: #FFF;
}  
.contact-info {
  font-size: 20px;
  padding-left: 30px; 
  background-color: #FFF;
}
.desc , .contact-info {
  background-image: fixed url("http://www.weekendnotes.com/im/003/03/thai-bliss-massage-day-spa-thai-canberra-childers-11.jpg") no-repeat;
  background-size: 100% 100%;
}
